button {
    border: none;
    min-width: 28px;
    min-height: 28px;
    background-color: transparent;
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.hidden {
    display: none;
}

:host(:not([disabled])) button:hover {
    background-color: var(--brush-shadow);
    color: var(--pen-selected);
}

:host(:not([disabled]).selected) {
    background-color: var(--brush-selected);
    color: var(--pen-selected);
}

:host(:not([disabled])) button:active {
    background-color: var(--brush-selected);
    color: var(--pen-selected);
}

img {
    width: 18px;
    height: 18px;
}

:host([disabled]) {
    filter: opacity(33%)
}

:nth-child(2) {
    padding-left: 4px;
}
