:host {
    display: flex;
    flex: 0 0 auto;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 2px 7px;
    background-color: transparent;
    color: var(--pen-normal);
}

:host-context(js-popupmenu) {
    flex: 2 0 auto;
}

:host(:hover:not([disabled]):not([separator])) {
    background-color: var(--brush-selected);
    color: var(--pen-selected);
}

.hidden {
    visibility: hidden; 
}

.iconcol.hidden {
    display: none;
    visibility: inherit;
}

.itemgrid {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}

#check {
    display: flex;
    flex: 0 0 10px;
    justify-content: flex-start;
    width: 10px;
}

.iconcol {
    display: flex;
    flex: 0 0 20px;
    justify-content: center;
    align-items: center;
    margin-right: 2px;
}

#icon {
    width: 18px;
    height: 18px;
}

:host([disabled]) {
    filter: opacity(33%)
}

.captioncol {
    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: center;
    padding-right: 16px;
    white-space: nowrap;
}

.endblock {
    display: flex;
    flex: 1 1 auto;
    justify-content: end;
}

.hotkeycol {
    display: flex;
    flex: 0 0 auto;
    justify-content: flex-end;
    align-items: center;
}

.markcol {
    display: flex;
    flex: 0 0 10px;
    justify-content: end;
    margin: 0px 4px;
    width: 10px;
}

hr {
    width: 100%;
    margin: 2px 0;
}