:host {
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    background-color: var(--brush-container-normal);
    color: var(--pen-container-normal);
    border-bottom: 1px solid var(--brush-shadow);
}

.menu {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    min-height: 24px;
}
