:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 0.125em 0.5em;
    background-color: transparent;
    color: var(--pen-normal);
}

:host([disabled]) {
    color: var(--pen-disabled);
}

:host(:hover) {
    background-color: var(--brush-selected);
    color: var(--pen-selected);
}

:host(:hover[disabled]) {
    color: var(--pen-normal);
}

.itemgrid {
    display: flex;
    flex: 1;
    flex-wrap: nowrap;
}

.iconcol {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 24px;
    min-height: 24px;
    padding-right: 4px;
}

.captioncol {
    display: flex;
    flex: auto;
    justify-content: flex-start;
    align-items: center;
    padding-right: 3em;
}

.hotkeycol {
    display: flex;
    flex: 3;
    justify-content: flex-end;
    align-items: center;
}

.markcol {
    display: flex;
    flex: 1;
    align-items: center;
    padding-left: 4px;
    min-width: 22px;
    min-height: 22px;
}
