:host {
    --title-size: calc(1.5em + 8px);
    position: absolute;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    top: 0px;
    left: 0px;
    padding: 0px;
    min-width: 160px;
    min-height: var(--title-size);
    background-color: var(--brush-normal);
    border: 1px solid var(--brush-container-disabled);
    --deselected-pointer-events: none;
}

:host(.minimized.ontop),
:host(.minimized) {
    height: var(--title-size);
    width: 160px;
    flex: 0 0 0;
    margin-right: 2px;
    margin-bottom: 2px;
    box-shadow: none;
}

:host(.ontop) {
    box-shadow: 0px 0px 8px 4px var(--brush-overlay);
    border: 1px solid var(--brush-container-selected);
    --deselected-pointer-events: auto;
}

:host(.maximized) {
    inset: 0 !important;
    width: unset !important;
}

.header {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    justify-items: flex-start;
    align-items: center;
    background-color: var(--brush-shadow);
    color: var(--pen-normal);
    font-size: 1.1em;
    height: var(--title-size);
}

#titleArea {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    align-items: center;
    align-self: stretch;
}

#title {
    padding-left: 0.5em;
    font-weight: bold;
}

.buttons {
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    height: var(--title-size);
}

button {
    width: var(--title-size);
    height: var(--title-size);
    border: none;
    margin: 0px;
    background-color: transparent;
}

:host(.hidden) {
    opacity: 0.005;
}

@-moz-document url-prefix() {
    :host(.hidden) {
        opacity: 0.5;
    }
}

.hidden {
    display: none;
}

.dragging {
    display: none;
}

button:hover {
    background-color: var(--brush-highlight);
}

button:active {
    background-color: var(--brush-overlay);
}

#close:hover {
    background-color: var(--brush-selected);
    color: var(--pen-selected);
}

#close:active {
    background-color: var(--brush-selected);
    color: var(--pen-selected);
}

.body {
    display: flex;
    flex: 1 0 auto;
    min-height: 120px;
}

.edgecorner {
    height: 4px;
    width: 32px;
    padding: 0px;
    margin: 0px;
}

.edgecenter {
    flex: 1 0 auto;
    height: 4px;
    padding: 0px;
    margin: 0px;
}

.window {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

iframe {
    flex: 1 0 auto;
    border: none;
    padding: 0px;
    margin: 0px;
    pointer-events: var(--deselected-pointer-events);
}

.nsarrow {
    cursor: ns-resize;
}

.ewarrow {
    cursor: ew-resize;
}

.neswarrow {
    cursor: nesw-resize;
}

.nwsearrow {
    cursor: nwse-resize;
}