:host {
    position: relative;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-self: stretch;
    align-self: stretch;
}

slot {
    display: flex;
    flex: 10000000 0 auto;
    position: relative;
    background-color: var(--brush-shadow);
    overflow-x: auto;
    overflow-y: auto;
}

#minArea {
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-self: flex-end;
    height: fit-content;
    overflow-x: clip;
    overflow-y: clip;
    max-height: 32px;
}

.dragoverlay {
    display: none;
    position: absolute;
    background-color: transparent;
    inset: 0;
    margin: 0px;
    padding: 0px;
    z-index: 1000000;
}

.dragging {
    display: block !important;
    background-color: transparent !important;
}

.resizing {
    display: block !important;
    background-color: transparent !important;
}
