:host {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    position: absolute;
}

slot {
    display: flex;
    flex-direction: column;
    background-color: var(--brush-container-normal);
    color: var(--pen-container-normal);
}

.background {
    position: absolute;
    border: 1px solid var(--brush-shadow);
    box-shadow: 4px 4px 4px 0px var(--brush-shadow);
    z-index: 1000;
}

.hidden {
    display: none;
}

.showing {
    display: block;
}
