:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    contain: strict;
    inset: 0px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    --layout-container-rotation: rotate(0deg);
    --layout-content-rotation: rotate(0deg);
    --layout-last-rotation: rotate(0deg);
    --layout-min-width: unset;
    --layout-min-height: 2px;
}

:host([horizontal]) {
    flex-direction: column;
    transition: transform 10s;
    --layout-container-rotation: rotate(-90deg);
    --layout-content-rotation: rotate(90deg);
    --layout-last-rotation: rotate(180deg);
    --layout-min-width: 2px;
    --layout-min-height: unset;
}

.focusable {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

.container {
    position: absolute;
    inset: 0px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-self: stretch;
    justify-self: stretch;
    padding: 0px;
    margin: 0px;
    transform: var(--layout-container-rotation);
}

.content {
    display: flex;
    flex: 1 0 auto;
    padding: 0px;
    margin: 0px;
    contain: strict;
}

slot {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 0 auto;
    justify-content: flex-start;
    margin: 0px;
    padding: 0px;
    min-height: var(--layout-min-height);
    min-width: var(--layout-min-width);
}

slot:not([name]) {
    /* transition: transform 10s; */
    flex: 0 0 auto !important;
    width: 100%;
    height: 100%;
    transform: var(--layout-content-rotation);
    overflow: clip;
    contain: content;
}

slot[name] {
    flex: 0 0 auto;
}

slot[name="last"] {
    justify-self: flex-end;
    /* transition: transform 10s; */
    transform: var(--layout-last-rotation);
}

.gone {
    display: none !important;
}
