:host {
    display: flex;
    flex: 1 0 24px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0px;
    padding: 0.5em;
    background-color: var(--brush-container-normal);
    color: (--pen-container-normal);
    border-top: 1px solid var(--brush-shadow);
}
.status {
    display: flex;
    justify-content: flex-start;
    flex: 1 0 auto;
}
slot {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
}

::slotted(*) {
    margin-left: 1em;
}
