:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--pen-input);
}

slot[name="caption"] {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    color: var(--pen-input);
}

.listitem {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    /* padding-right: 0.33333em; */
}

.listitem.selected > slot[name="caption"] {
    background-color: var(--brush-selected);
}

.itembox {
    display: flex;
    /* 
    margin-left: 0.85em;
    padding-left: 0.5em;
    border-left: 1px solid black;
    */
}

.items {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.focusable {
    overflow: auto;
}