:host {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    background-color: var(--brush-input-normal);
    color: var(--pen-input-normal);
    margin: 4px;
    padding: 0px;
    border: 0px;
    min-width: 5em;
    min-height: 1em;
    overflow: auto;
    contain: strict;
}

:host(:focus) {
    border: 2px solid black;
    border-radius: 4px;
}

slot {
    display: flex;
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

div:focus {
    outline: none;
}

div.focusable {
    display: flex;
    flex: 0 0 auto;
    flex-direction: inherit;
    background-color: var(--brush-input-normal);
    color: var(--pen-input-normal);
    padding: 2px;
}