:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0.125em;
    color: var(--pen-input);
}

:host([selected]) {
    background-color: var(--brush-input-selected);
}

.listitem {
    display: flex;
    flex-wrap: nowrap;
    padding: 0.33333em;
}

.listitem:hover {
    background-color: var(--brush-shadow);
}
