:host {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    color: var(--pen-input);
}

:host([selected]) {
    background-color: var(--brush-input-selected);
}

.listitem {
    display: flex;
    flex-wrap: nowrap;
}

.listitem:hover {
    background-color: var(--brush-shadow);
}

.leaf {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.marker {
    display: inline-block;
    margin-right: 4px;
    font-weight: bold;
    font-family: monospace;
    font-size: 16pt;
    white-space: pre;
    color: var(--pen-input-disabled);
}
