.overlay {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--brush-overlay);
    z-index: 1;
    backdrop-filter: blur(2px);
}

.overlay[hidden] {
    display: none;
}

.dialog {
    display: flex;
    flex-direction: column;
    padding: 0px;
    border: 2px solid black;
    height: auto;
    min-width: 25vw;
    max-width: 75vw;
    max-height: 75vh;
    background-color: var(--brush-normal);
}

.title {
    padding: 4px;
    background-color: var(--brush-disabled);
    color: var(--pen-disabled);
    font-weight: bold;
    font-size: larger;
}

.body {
    padding: 0.5em;
}

.buttonbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 4px;    
}

.extra, .buttonbar > button:not(:first-child) {
    margin-left: 4px;
}
