:host {
    background-color: var(--brush-input);
    color: var(--pen-input);
}

slot {
    display: flex;
    flex-direction: column;
}

.listview {
    display: flex;
}

div:focus {
    outline: none;
}
