:host {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    background-color: transparent;
    color: var(--pen-normal);
}

hr {
    width: 100%;
    margin: 2px 0;
}