:host {
    display: none;
}

:host([selected]) {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}

slot {
    display: flex;
    flex: 1 0 auto;
}

#page {
    display: flex;
    flex: 1 0 auto;
}

.hidden {
    display: none;
}
